{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/cosmosdbrg-test-7250?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-7250",
        "name": "cosmosdbrg-test-7250",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-7250/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb9943?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "MongoDB",
        "location": "West US",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxStalenessPrefix": 300,
            "maxIntervalInSeconds": 1000
          },
          "locations": [
            {
              "locationName": "West US"
            }
          ],
          "databaseAccountOfferType": "Standard",
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "isVirtualNetworkFilterEnabled": true,
          "enableAutomaticFailover": true,
          "capabilities": [],
          "virtualNetworkRules": [],
          "enableMultipleWriteLocations": true,
          "enableCassandraConnector": false,
          "connectorOffer": "Small",
          "disableKeyBasedMetadataWriteAccess": true,
          "enableFreeTier": false,
          "enableAnalyticalStorage": true,
          "cors": []
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/e0a41ff6-6276-48c9-896e-7a57eb445b32?api-version=2020-04-01",
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-7250/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb9943?api-version=2020-04-01",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-7250/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb9943/operationResults/e0a41ff6-6276-48c9-896e-7a57eb445b32?api-version=2020-04-01",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-7250/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb9943",
        "name": "cosmosdb9943",
        "location": "West US",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2020-09-09T10:04:21.6633712Z"
        },
        "properties": {
          "provisioningState": "Creating",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": true,
          "enableMultipleWriteLocations": true,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": true,
          "enableFreeTier": false,
          "enableAnalyticalStorage": true,
          "instanceId": "eca7fb66-f98b-4c9a-9cb8-25faad1635b6",
          "createMode": "Default",
          "databaseAccountOfferType": "Standard",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "apiProperties": {
            "serverVersion": "3.2"
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "cosmosdb9943-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "cosmosdb9943-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "cosmosdb9943-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "cosmosdb9943-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/e0a41ff6-6276-48c9-896e-7a57eb445b32?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/e0a41ff6-6276-48c9-896e-7a57eb445b32?api-version=2020-04-01",
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
