{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/cosmosdbrg-test-5430?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430",
        "name": "cosmosdbrg-test-5430",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DocumentDB/databaseAccountNames/cosmosdb3767?api-version=2020-04-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "MongoDB",
        "location": "West US",
        "properties": {
          "locations": [
            {
              "locationName": "West US"
            }
          ],
          "databaseAccountOfferType": "Standard"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/48c7e4e1-be07-4802-b7ed-27bcd71f7f7d?api-version=2020-04-01",
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767?api-version=2020-04-01",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/operationResults/48c7e4e1-be07-4802-b7ed-27bcd71f7f7d?api-version=2020-04-01",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767",
        "name": "cosmosdb3767",
        "location": "West US",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {},
        "systemData": {
          "createdAt": "2020-09-09T11:10:54.4387854Z"
        },
        "properties": {
          "provisioningState": "Creating",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": false,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "instanceId": "6166c42b-a190-47f3-a222-616cbc02d976",
          "createMode": "Default",
          "databaseAccountOfferType": "Standard",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "Session",
            "maxIntervalInSeconds": 5,
            "maxStalenessPrefix": 100
          },
          "apiProperties": {
            "serverVersion": "3.2"
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "cosmosdb3767-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "cosmosdb3767-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "cosmosdb3767-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "cosmosdb3767-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [],
          "ipRules": [],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/48c7e4e1-be07-4802-b7ed-27bcd71f7f7d?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/48c7e4e1-be07-4802-b7ed-27bcd71f7f7d?api-version=2020-04-01",
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-reads": "9487"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767?api-version=2020-04-01",
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767",
        "name": "cosmosdb3767",
        "location": "West US",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {},
        "systemData": {
          "createdAt": "2020-09-09T11:28:23.3474756Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://cosmosdb3767.documents.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": false,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "instanceId": "6166c42b-a190-47f3-a222-616cbc02d976",
          "createMode": "Default",
          "databaseAccountOfferType": "Standard",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "Session",
            "maxIntervalInSeconds": 5,
            "maxStalenessPrefix": 100
          },
          "apiProperties": {
            "serverVersion": "3.2"
          },
          "configurationOverrides": {
            "EnableBsonSchema": "True"
          },
          "writeLocations": [
            {
              "id": "cosmosdb3767-westus",
              "locationName": "West US",
              "documentEndpoint": "https://cosmosdb3767-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "cosmosdb3767-westus",
              "locationN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7494?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "resource": {
            "id": "databaseName7494"
          },
          "options": {}
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/018e855e-ab43-43db-afe4-e4cc3ce11e35?api-version=2020-04-01",
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7494?api-version=2020-04-01",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7494/operationResults/018e855e-ab43-43db-afe4-e4cc3ce11e35?api-version=2020-04-01",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7494?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7494?api-version=2020-04-01",
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7494",
        "type": "Microsoft.DocumentDB/databaseAccounts/mongodbDatabases",
        "name": "databaseName7494",
        "properties": {
          "resource": {
            "id": "databaseName7494",
            "_rid": "yNJ1AA==",
            "_etag": "\u002200008c0e-0000-0700-0000-5f58bd170000\u0022",
            "_ts": 1599651095
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7295?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "resource": {
            "id": "databaseName7295"
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/4a4bc9d4-a205-496a-8312-effbe5a10965?api-version=2020-04-01",
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7295?api-version=2020-04-01",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7295/operationResults/4a4bc9d4-a205-496a-8312-effbe5a10965?api-version=2020-04-01",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7295/throughputSettings/default?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7295/throughputSettings/default?api-version=2020-04-01",
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7295/throughputSettings/default",
        "type": "Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/throughputSettings",
        "name": "raXt",
        "properties": {
          "resource": {
            "throughput": 700,
            "minimumThroughput": "400"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7494/collections/collectionName3913?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "re[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7494/collections?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7494/collections?api-version=2020-04-01",
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases/databaseName7494/collections/collectionName3913",
            "type": "Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/collections",
            "name": "collectionName3913",
            "properties": {
              "resource": {
                "id": "collectionName3913",
                "_rid": "yNJ1APJMGDw=",
                "_etag": "\u00220000920e-0000-0700-0000-5f58bd2c0000\u0022",
                "_ts": 1599651116,
                "indexes": [
                  {
                    "key": {
                      "keys": [
                        "DocumentDBDefaultIndex"
                      ]
                    },
                    "options": {}
                  }
                ]
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/cosmosdbrg-test-5430/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb3767/mongodbDatabases?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://management.documents.azure.com:450/s[...]
[...]
