{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sdktestrg8554?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "northcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg8554",
        "name": "sdktestrg8554",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "northcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg8554/providers/Microsoft.KeyVault/vaults/sdktestvault3995?api-version=2021-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "North Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "accessPolicies": [
            {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "objectId": "7bee3764-dbea-4729-9c33-446f321aa721",
              "permissions": {
                "keys": [
                  "all"
                ],
                "secrets": [
                  "all"
                ],
                "certificates": [
                  "all"
                ],
                "storage": [
                  "all"
                ]
              }
            }
          ],
          "vaultUri": "",
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "enableSoftDelete": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow",
            "ipRules": [
              {
                "value": "1.2.3.4/32"
              },
              {
                "value": "1.0.0.0/25"
              }
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg8554/providers/Microsoft.KeyVault/vaults/sdktestvault3995",
        "name": "sdktestvault3995",
        "type": "Microsoft.KeyVault/vaults",
        "location": "North Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2021-11-19T02:17:36.089Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-11-19T02:17:36.089Z"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow",
            "ipRules": [
              {
                "value": "1.2.3.4/32"
              },
              {
                "value": "1.0.0.0/25"
              }
            ],
            "virtualNetworkRules": []
          },
          "accessPolicies": [
            {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "objectId": "7bee3764-dbea-4729-9c33-446f321aa721",
              "permissions": {
                "keys": [
                  "all"
                ],
                "secrets": [
                  "all"
                ],
                "certificates": [
                  "all"
                ],
                "storage": [
                  "all"
                ]
              }
            }
          ],
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "enableSoftDelete": true,
          "vaultUri": "https://sdktestvault3995.vault.azure.net",
          "provisioningState": "RegisteringDns"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/North%20Central%20US/deletedVaults/sdktestvault3995?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault3995",
        "name": "sdktestvault3995",
        "type": "Microsoft.KeyVault/deletedVaults",
        "properties": {
          "vaultId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg8554/providers/Microsoft.KeyVault/vaults/sdktestvault3995",
          "location": "North Central US",
          "tags": {
            "tag1": "value1",
            "tag2": "value2",
            "tag3": "value3"
          },
          "deletionDate": "2021-11-19T02:17:54Z",
          "scheduledPurgeDate": "2022-02-17T02:17:54Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "4bbaeb92-e15c-43a7-aa50-758c8da7390e",
          "90317b09-ff91-4c2f-9397-8a31c01d04e1",
          "6fd69007-ecfe-4db0-8f05-cbbb039043e3",
          "e9b35779-0aa8-4024-b7c2-8a64bf188b99",
          "67192ee1-762e-4d44-a7af-87c2f17398c0",
          "54b60a4b-8829-4e57-8626-2849277a5f72",
          "56c6b13f-89ac-463e-b81f-8dbeacb0865d",
          "116f6c55-1c78-409b-9f80-16febb6f3169",
          "e2a447e8-8a16-4e27-8b1d-75c599fde7ec",
          "b625fbf1-b4c2-409f-84af-5275be0f73ca[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-04-01-preview\u0026%24skiptoken=3ZBfb4IwAMS%2fS7PsaQgU%2fJuQRW3d2GyJpcWwN8SqiAKhVRHjdx%2fZx9jbXe7yu%2bQeoJCNXmZFrsDkAWjA%2bOccU86mSxGCCThoXamJaZ6TItnLsyx0L2kvteyl5dlUl41K66zSWVkoc7uxk81gZxnucDA23A0cGmPHkoZlSyh349SGTmpWdXnNtrJWJsnSulTlTve%2b5T1KLidtbuVJarn9M%2bo9qTLj2jU7uActaBuW27GMqpbXTN5eX1TeLZe5LDyRR2sWfXEm2ILjSIRiHCzFSeyQbxOeQsq[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-04-01-preview\u0026%24skiptoken=HY3RboIwGEbfhSy7q4XKdJiYZQ62zFmMtcXsEsqP1kohtOic8d1HdvXlJCfnu3kGftxKGW292c3bJVsutsSbeQfnWjvDuM5NvocajBvlv30HI9nU2PaFlZ1qnWqMxWUR5MWk8lE4nUQoLMgURWMfkB8AgSqSARlL3HbNWZXQWUyV7BrbVG70Bdcs708Ol3ACB%2bU%2f2Je8Veg8mEN8TnwSID8cWqjt4Kzg8vhg9fDcaDBzobMdy5acCfbOk0xsRbReiZOo4s%2bAcjmmXF8ofx1WBjT%2bvlLOnpnOPtbxI[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-04-01-preview\u0026%24skiptoken=HY3daoMwGEDfRcbuYmJ07SzIYOhGu5qiTSzsTuNnl1p%2fMLF2LX33yS4PHM65Wy1czVa1tbZWd%2bsQ7bnYU2tl%2fRjT6xXGTd7mR2igNXZ%2bGwewZddgPRZaDqo3qms1LgsnLxYVQd5y4SOvoEvkuwQQcYBC5UuHuhL3Q3dRJQwax0oOne4qY3%2fBb5aPZ4NLOIOB8h%2f0W94rdJnNOR5QQh1EvLmF%2bgEuCqbnJ13P566GNhB1dkizDU9F%2bsGjTOyFv9uKs6jCtRNz6can9bTj8hrzhO54Tdht8[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-04-01-preview\u0026%24skiptoken=HY1dT4MwGEb%2fCzHelZYPNyEh3sCMurIMWnYN5UVLGRDabciy%2fy7x8knOOc%2fd6mE2e9krbYV365TkjOeuFVo%2fxow6xPhc9uU3nKE3drlcJrDFcMb6UmkxydHIode4rpyy2jQE%2bdtNgPzK3aLAI4CIAy40gXBcT%2bBxGq6yhkljKsU06KEx9hf8FuWlM7iGDgzU%2f0O%2flaNE15Vc45FLXAcRf22hcYKrhNvzk1br86Cgj7gqTlnxyTKe7VhS8JwHhz3veBN%2fOJQJj7b8JWWU0FY5dDnO6VK%2fUqbIsU0Tyqif8eI9jbtdxpRHVTIfYnHLYjrTeHXJMbIejz8%3d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "16b8f8dc-28c0-4a15-b3e0-eefad8c4a7c6",
        "x-ms-ratelimit-remaining-subscription-reads": "11938"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault1386/purge?api-version=2021-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzcyODg1MTQwNjIyMjU0N3w0QTQ0RDdCRTZFRUQ0M0JFQTczMTIyMTIzODZFRkZDRA?api-version=2021-04-01-preview",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzcyODg1MTQwNjIyMjU0N3w0QTQ0RDdCRTZFRUQ0M0JFQTczMTIyMTIzODZFRkZDRA?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzcyODg1MTQwNjIyMjU0N3w0QTQ0RDdCRTZFRUQ0M0JFQTczMTIyMTIzODZFRkZDRA?api-version=2021-04-01-preview",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-subscription-reads": "11935"
      },
      "ResponseBody": {
        "createdDateTime": "2021-11-19 02:18:59Z",
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzcyODg1MTQwNjIyMjU0N3w0QTQ0RDdCRTZFRUQ0M0JFQTczMTIyMTIzODZFRkZDRA?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11929"
      },
      "ResponseBody": {
        "createdDateTime": "2021-11-19 02:18:59Z",
        "lastActionDateTime": "2021-11-19 02:19:03Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/North%20Central%20US/deletedVaults/sdktestvault1386?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "error": {
          "code": "DeletedVaultNotFound",
          "message": "The specified deleted vault \u0027sdktestvault1386\u0027 does not exist. Ensure that the vault was indeed deleted and that it is in recoverable state. If soft delete was not enabled then the vault is permanently deleted. Follow this link for more information: https://go.microsoft.com/fwlink/?linkid=2149745"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzcyODg1MTQ2MTUzNjg3N3w0MzU4MDQ2RDE4REY0QTlEOTExOTE5RDg4OThCNjBBMA?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzcyODg1MTQ2MTUzNjg3N3w0MzU4MDQ2RDE4REY0QTlEOTExOTE5RDg4OThCNjBBMA?api-version=2021-04-01-preview",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "createdDateTime": "2021-11-19 02:19:05Z",
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzcyODg1MTUwMjk4MjgxM3xCNEZBMEY5MUVBNDc0QkJBOTRDNTc3MUZBMzAzQjBGNQ?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzcyODg1MTUwMjk4MjgxM3xCNEZBMEY5MUVBNDc0QkJBOTRDNTc3MUZBMzAzQjBGNQ?api-version=2021-04-01-preview",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-subscription-reads": "11917"
      },
      "ResponseBody": {
        "createdDateTime": "2021-11-19 02:19:09Z",
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/North%20Central%20US/deletedVaults/sdktestvault3995?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11913"
      },
      "ResponseBody": {
        "error": {
          "code": "DeletedVaultNotFound",
          "message": "The specified deleted vault \u0027sdktestvault3995\u0027 does not exist. Ensure that the vault was indeed deleted and that it is in recoverable state. If soft delete was not enabled then the vault is permanently deleted. Follow this link for more information: https://go.microsoft.com/fwlink/?linkid=2149745"
        }
      }
    }
  ],
  "Variables": {
    "CLIENT_ID": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
    "ObjectId": "7bee3764-dbea-4729-9c33-446f321aa721",
    "RandomSeed": "1067057456",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}